@tailwind base;
@tailwind components;
@tailwind utilities;

.Container {
    display: flex;
    height: 100vh;
    position: relative;
    background-color: #fdfbef;
}

.LeftHalf, .RightHalf {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.RightHalf {
    background-color: #44c755;
    border-radius: 20px; /* Rounded corners */
    margin: 1rem; /* Add margin to create space around the RightHalf */
}

.CenteredImage {
    max-width: 90%;
    max-height: 90%;
}

.Home {
    position: absolute;
    top: 1rem; /* Keep it at the top */
    font-size: 1.7rem; /* text-3xl */
    font-weight: bold;
    text-decoration: underline;
}

.Chat {
    display: flex;
    justify-content: center; /* Center Horizontal */
    align-items: center; /* Center Vertical */
    background-color: #44c755;
    border-radius: 20px; /* Rounded corners */
    border: 2px solid black;
    padding: 1rem; /* Add padding to create space between words and border */
}